# Core requirements for the tt application
# Note: Many of tt's dependencies are Python standard libraries (sys, os, datetime)
# which do not need to be listed here.

# External dependencies:
colorama>=0.4.4    
python-dateutil>=2.8.2  
tabulate>=0.8.9   
pyyaml
tzlocal==2.1
pytz
mock
lark-parser
pyinstaller
pyinstaller>=5.0.0